.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  width: 80vw;
  margin-left: 9vw;
  background-color: rgba(253,252,251,0.747);
}

.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.header div {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
}

.productContainer{
  width: 90%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.product>* {
  flex: 1;
}

.image {
  width: 100px;
}

.totalCost{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.buttons>* {
  width: 20px;
  height: 20px;
  background-color: rgb(117, 114, 114);
  color: white;
  border: none;
  margin: 0.1rem;
  font-size: 1rem;
}

.buttons>*:hover {
  background-color: rgb(16, 16, 16);
}

.chekoutBtn {
  width: 80%;
  margin-top: 0;
  align-self:center
}
