.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 80vh;

}

.form{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70%;
  margin-top: 2%;
  position: relative;
}


@media (max-width: 768px) {
  .form {
    width: 90vw;
  }
}
