.navbar {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  height: 15vh;
  position: sticky;
  width: 80%;
  top:0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #f9826c;
}

.links {
  display: flex;
}

.navlink {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}

.navlink a {
  text-decoration: none;
  color: black;
  
}

.navlink a:hover {
  color: #f9826c;
}

.btn{
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(224, 129, 85, 0.2);
  transition: 0.4s;
  color: rgb(2, 1, 11);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(225, 129, 77);
}

.btn:hover {
  color: white;
  box-shadow: 0 0 20px rgba(224, 131, 85, 0.6);
  background-color: rgb(234, 120, 100);
}

.proNLogout{
  display: flex;
  flex-direction: row;
  margin-left: -10%;
}



@media (max-width: 768px) {
  .navbar ul{
    margin-block-start: 0
  }
  .navbar{
    width: 100%;
    overflow: scroll;
    height: 10vh;
  }

  .navbar h6 {
    display: none;
  }
}
