.heading{
  text-align:center;
  margin-bottom: 5%;
}


.container{
  display: grid;
  margin-left:3%;
  grid-template-columns: repeat(4, 25%);
  align-content: center;
  width: 90vw ;
  margin-top: -2rem;
}

.productCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.product{
  position: relative;
  inline-size: 250px;
  margin: 2rem;
  border-radius: 15px;
  text-align: center;
  z-index: 0;
}


.hoverEffect{
  background-color: rgba(194, 209, 246, 0.301);
  width: 100%;
  height: 30%;
  margin-top: 25%;
  color: #c64730;
  font-weight: 500;
  font-size: large;
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

}

.filter{
  margin-bottom: 20px;
  margin-left: 5%;
}


.product p{
  margin-top: auto;
  min-height:5rem;
}

.text span{
  font-weight: 700;
  color: #f9826c;
  font-size: large;
}


.button {
  width: 100%;
  padding: 0.75rem 0;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid black;
  cursor: pointer;
  align-self: flex-end;
  margin-top: -3rem;
}

.button:hover {
  background: black;
  color: white;
}
