.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 50vw;
  align-items: center;
  text-align: center;
 
}

/* .banner{
  display: flex;
  width: 100%;
  background-color: #debdb8;
  justify-content: space-between;
  align-items:flex-end
} */


.price{
  font-weight: 700;
  font-size: x-large;
  color: #f9826c
}

.product h3{
  margin-top: 10px;
  width: 100%;
  text-align: left;
  color: rgb(112, 112, 111);
  border-bottom: 2px solid rgb(112, 112, 111);

}

.category{
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: -5px;
  
}



.reviewForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewForm textarea{
  font-size: large;
  margin-bottom: 10px;
  height: 80px;
  width: 100%;
}
